---
interface Props {
  title: string;
}
const { title } = Astro.props as Props;
---

<section
  class="w-full min-h-[100dvh] flex flex-col items-center bg-cover bg-center bg-emerald-600 text-zinc-50 p-8"
>
  <h1 class="text-5xl font-extrabold mb-6">{title}</h1>
  <p class="text-3xl font-bold mb-16">
    En un mundo globalizado, es fundamental entender nuestros derechos y
    responsabilidades como ciudadanos globales.
  </p>
  <ul class="text-left text-3xl list-disc list-inside">
    <li class="mb-2">
      <strong>Ciudadano global</strong>: Persona que se considera parte de una
      comunidad global y aborda problemas globales.
    </li>
    <li class="mb-2">
      <strong>Derechos humanos universales</strong>: Derechos fundamentales que
      pertenecen a todas las personas, sin distinción.
    </li>
    <li class="mb-2">
      <strong>Participación social</strong>: Acción de tomar parte en la vida
      social y política de una comunidad.
    </li>
  </ul>
  <cite class="mt-16 text-2xl"
    ><strong>Artículo 1º de la Constitución Mexicana</strong>: Garantiza la
    igualdad y prohíbe la esclavitud.</cite
  >
</section>
