---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<section
  class="w-full overflow-x-hidden relative bg-gradient-to-r from-blue-400 to-blue-600 text-white p-10 shadow-xl grid lg:place-content-center gap-6"
>
  <img
    class="absolute object-cover right-[10%] bottom-[10%] rounded-full opacity-20 2xl:opacity-80 w-md"
    src="images/img-4.jpg"
    alt="cosmovisiones"
  />
  <img
    class="absolute object-cover top-0 left-0 h-full max-w-sm opacity-20 w-md"
    src="images/img-5.jpeg"
    alt="cosmovisiones2"
  />

  <div class="relative flex max-w-5xl gap-20 flex-wrap">
    <div class="grid content-end gap-10">
      <h2 class="text-5xl font-extrabold">{title}</h2>
      <p class="text-3xl">
        La cosmovisión es la manera en que una cultura o persona entiende el
        mundo y la realidad.
      </p>
    </div>
    <ul class="space-y-6 text-2xl">
      <li class="grid">
        <strong>Mítica:</strong><span>
          Relatos sobre dioses y fuerzas sobrenaturales.</span
        >
      </li>
      <li class="grid">
        <strong>Religiosa:</strong><span
          >La realidad explicada a través de la fe en una deidad.</span
        >
      </li>
      <li class="grid">
        <strong>Filosófica:</strong><span>
          La realidad comprendida mediante la reflexión y la razón.
        </span>
      </li>
    </ul>
  </div>
</section>
