---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<section
  class="relative bg-gradient-to-r from-pink-500 to-orange-500 text-white grid place-content-center p-10"
>
  <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
    <img
      id="m1-act2-img-0"
      class="absolute left-[5%] bottom-[10%] rounded-4xl -rotate-12 w-64 h-64 object-fit shadow opacity-20 2xl:opacity-100"
      src="images/img-6.jpg"
      alt="co-fi"
    />
    <img
      id="m1-act2-img-0"
      class="absolute left-[5%] bottom-[50%] rounded-4xl rotate-12 w-64 h-64 object-fit shadow opacity-0 2xl:opacity-100"
      src="images/img-7.jpg"
      alt="co-fi"
    />
    <img
      id="m1-act2-img-0"
      class="absolute right-[-10%] bottom-[-40%] rounded-tl-4xl h-full object-fit shadow opacity-20 2xl:opacity-100"
      src="images/img-8.jpeg"
      alt="co-fi"
    />
  </div>
  <div class="relative max-w-5xl min-h-full grid gap-8">
    <h2 class="text-5xl font-extrabold text-center">{title}</h2>
    <p class="text-3xl">
      Las corrientes filosóficas ofrecen diferentes formas de interpretar la
      realidad y la existencia humana.
    </p>
    <ul class="list-disc list-inside space-y-2 text-2xl">
      <h4 class="font-extrabold">Edad Moderna (Siglos XVII–XVIII):</h4>
      <li>
        <strong>Racionalismo:</strong> La razón como fuente de conocimiento.
      </li>
      <li>
        <strong>Empirismo:</strong> La experiencia como base del conocimiento.
      </li>
      <h4 class="font-extrabold">Edad Moderna (Siglos XVII–XVIII):</h4>

      <li>
        <strong>Idealismo:</strong> La realidad es una construcción mental.
      </li>
      <li>
        <strong>Existencialismo:</strong> La realidad surge de la experiencia personal.
      </li>
      <li>
        <strong>Positivismo:</strong> Solo el conocimiento científico es válido.
      </li>
      <li>
        <strong>Estructuralismo:</strong> La realidad resulta de estructuras sociales.
      </li>
      <li>
        <strong>Pragmatismo:</strong> Lo verdadero es lo útil.
      </li>
      <li>
        <strong>Fenomenología:</strong> Describe la percepción personal de la realidad.
      </li>
      <li>
        <strong>Historicism:</strong> El conocimiento humano depende de la historia
        y el contexto.
      </li>
    </ul>
  </div>
</section>

<script>
  const img = document.getElementById("m1-act2-img-0");
</script>
