<section
  id="home-section"
  class="bg-cyan-100 text-zinc-800 grid place-content-center gap-24"
>
  <div class="grid gap-4">
    <h1 class="font-bold text-5xl">
      Análisis integrado de los temas estudiados
    </h1>
    <p class="text-3xl text-right">Proyecto Integrador</p>
  </div>

  <div class="text-2xl">
    <ul>
      <li>Dulce Camila Chávez García</li>
      <li>Joana Betzabeth Ramos Rodríguez</li>
      <li>Ivonne Monserrat Angulo Torres</li>
      <li>Fabiola Lozano Pedroza</li>
      <li>José Gustavo Rentería Guevara</li>
    </ul>
  </div>
</section>
