---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section
  class="bg-gradient-to-r from-purple-500 to-purple-700 text-white p-10 grid lg:place-content-center"
>
  <h2 class="text-5xl font-extrabold mb-16 tracking-wide text-center">
    {title}
  </h2>
  <div class="space-y-10 max-w-3xl">
    <div>
      <p class="text-3xl font-semibold">Poder Legítimo</p>
      <p class="text-3xl opacity-90">
        La autoridad que es aceptada por la sociedad.
      </p>
    </div>

    <div>
      <p class="text-3xl font-semibold">Estado</p>
      <p class="text-3xl opacity-90">
        Organización política con territorio, gobierno y soberanía.
      </p>
    </div>

    <div>
      <p class="text-3xl font-semibold">Ciudadanía</p>
      <p class="text-3xl opacity-90">
        Derechos y responsabilidades dentro del Estado.
      </p>
    </div>

    <div>
      <p class="text-3xl font-semibold">Relación entre Poder y Ciudadanía</p>
      <p class="text-3xl opacity-90">
        La participación ciudadana fortalece la democracia.
      </p>
    </div>
  </div>
</section>
