---
interface Props {
  title: string;
}
const { title } = Astro.props as Props;
---

<section
  class="w-full min-h-[100dvh] flex flex-col lg:justify-center items-center bg-gradient-to-r from-green-600 to-lime-500 text-white p-10"
>
  <div class="max-w-4xl text-center space-y-10">
    <h1 class="text-5xl font-extrabold">{title}</h1>
    <p class="text-3xl">
      La Revolución Francesa (1789) marcó el fin del feudalismo y el
      absolutismo, dando paso a la democracia moderna. La Independencia de las
      Trece Colonias (1775-1783) sentó las bases para la democracia en América.
    </p>
    <p class="italic text-2xl">
      La Revolución Francesa no solo cambió Francia, sino que inspiró
      movimientos independentistas en América Latina y otras partes del mundo.
    </p>
  </div>
</section>
