---
interface Props {
  title: string;
}
const { title } = Astro.props as Props;
---

<section class="bg-gradient-to-br from-gray-700 to-black text-white p-10">
  <div class="w-full h-full flex flex-col lg:justify-between">
    <h2 class="text-5xl font-extrabold tracking-wide drop-shadow-lg">
      {title}
    </h2>
    <div class="space-y-6 max-w-3xl">
      <h4 class="text-4xl font-extrabold mb-16">
        Estos conflictos cambiaron el rumbo de la historia y las relaciones
        internacionales.
      </h4>
      <p class="text-3xl font-semibold">Primera Guerra Mundial (1914-1918)</p>
      <p class="text-xl opacity-90">
        Conflicto imperialista que terminó con el Tratado de Versalles.
      </p>

      <p class="text-3xl font-semibold">Segunda Guerra Mundial (1939-1945)</p>
      <p class="text-xl opacity-90">
        El expansionismo nazi y el pacto Hitler-Stalin desataron la guerra.
      </p>

      <p class="text-3xl font-semibold">Crisis Económica de 1929</p>
      <p class="text-xl opacity-90">
        El crack financiero aumentó la pobreza y el ascenso de totalitarismos.
      </p>
    </div>
  </div>
</section>
